<template name="FlaneurAccountProfile">
  {{#if doesUserExist}}
  <div class="account-holder-box">
    <ul class="nav nav-tabs profile-tabs">
      {{#each tabs}}
        <li
          role="presentation"
          class="profile-tab {{activeTabClass}}"
          data-hash="{{hash}}">
          <a href="javascript:void(0)">{{label}}</a>
        </li>
      {{/each}}
    </ul>


    <div class="flex flex-column flex-align-center flex-2x container-lg">

      {{#if isTabActive ''}}
        <div class="flex-item">
          <div class="panel panel-lg">

            {{#if isOwnerOfProfile}}
              <div class="panel-content">
                {{> React UpdateEmail }}
              </div>
              {{#if userHasPassword}}
                <div class="panel-content">
                  {{> loginFormChangePassword}}
                </div>
              {{/if}}
            {{/if}}
            <div class="help-block w-container">
              <div class="row-28 w-row">
                <div class="column-22 w-col w-col-4">
                  <div>
                    <h1 class="heading-7">Chat with us</h1>
                    <p class="paragraph-3">Our concierge is available to assist you with color selections and more. </p><a href="#" class="side-button">Chat</a></div>
                </div>
                <div class="column-22 w-col w-col-4">
                  <div>
                    <h1 class="heading-7">Get color tips</h1>
                    <p class="paragraph-3">Get practical expert color advice from interior design insiders.</p>
                  </div><a href="/pages/using-color" class="side-button">See Color Tips</a></div>
                <div class="column-22 w-col w-col-4">
                  <div>
                    <h1 class="heading-7">Explore the blog</h1>
                    <p class="paragraph-3">Read our blog for color inspiration, how-to guides, and much more. </p><a href="www.hiflaneur.com/salon" class="side-button">Go to Salon</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/if}}

      {{#if isTabActive 'orders'}}
        <div class="flex-item">
          <div class="panel panel-lg">

            <div class="panel-content">
              {{> userOrdersList data=userOrders}}

            </div>
            <div class="help-block w-container">
              <div class="row-28 w-row">
                <div class="column-22 w-col w-col-4">
                  <div>
                    <h1 class="heading-7">Chat with us</h1>
                    <p class="paragraph-3">Our concierge is available to assist you with color selections and more. </p><a href="#" class="side-button">Chat</a></div>
                </div>
                <div class="column-22 w-col w-col-4">
                  <div>
                    <h1 class="heading-7">Get color tips</h1>
                    <p class="paragraph-3">Get practical expert color advice from interior design insiders.</p>
                  </div><a href="/pages/using-color" class="side-button">See Color Tips</a></div>
                <div class="column-22 w-col w-col-4">
                  <div>
                    <h1 class="heading-7">Explore the blog</h1>
                    <p class="paragraph-3">Read our blog for color inspiration, how-to guides, and much more. </p><a href="www.hiflaneur.com/salon" class="side-button">Go to Salon</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/if}}

      {{#if isTabActive 'recommends'}}
        <div class="flex-item">
          <div class="panel panel-lg">
            <div class="panel-content">

              <div class="color-div">
                <a class="color" href="{pdpURL}">
                  <div class="color-sample" style="background-color:black;">
                  </div>
                    <span class="color-name">black</span>
                </a>
              </div>
              <div class="color-div">
                <a class="color" href="{pdpURL}">
                  <div class="color-sample" style="background-color:black;">
                  </div>
                    <span class="color-name">black</span>
                </a>
              </div>
              <div class="color-div">
                <a class="color" href="{pdpURL}">
                  <div class="color-sample" style="background-color:black;">
                  </div>
                    <span class="color-name">black</span>
                </a>
              </div>
              <div class="color-div">
                <a class="color" href="{pdpURL}">
                  <div class="color-sample" style="background-color:black;">
                  </div>
                    <span class="color-name">black</span>
                </a>
              </div>

            </div>
          </div>
        </div>
      {{/if}}

      {{#if isOwnerOfProfile}}
        {{#if isTabActive 'addressbook'}}
          <div class="flex-item">
            {{> React AddressBook }}
          </div>
        {{/if}}

        {{#if showMerchantSignup}}
          <div class="flex-item">
            <div class="panel panel-lg">
              <div class="panel-heading">
                <h3 class="panel-title" data-i18n="marketplace.becomeSeller">Become a Seller</h3>
              </div>
              <div class="panel-content">
                {{> becomeSellerButton}}
              </div>
            </div>
          </div>
        {{/if}}
      {{/if}}
    </div></div>
  {{else}}
    <div class="empty-view-message">
      <i class="fa fa-user-times"></i>
      <p data-i18n="accountsUI.oops">Oops!</p>
      <p data-i18n="accountsUI.nonExistentAccount">The user you're looking for does not exist.</p>
    </div>
  {{/if}}
</template>
