.subscribe-container {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left:0px; padding-right:0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  max-width:500px;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.subscribe-container h5{text-align:center;font-family:'cormorant';font-size:30px;padding:20px 0px 0px 0px;}
.styles_modal__gNwvD{padding:0px;}
.subscribe-container .text-block.footer.subscribe_text{margin:0px;padding:10px 0px 20px 0px;}
.mailchimpe-container.subscribe-box{padding:0px 0px 20px 0px;}
