<template name="cartCheckout">
  {{#if cartCount}}

    <div class="checkout-progress">
      <div class="container">
        {{>checkoutProgressBar}}
      </div>
    </div>

    <div class="checkout">
      <div class="container container-lg">
        <div class="checkout-steps">
          <div class="checkout-steps-main">
            {{#each reactionTemplate workflow="coreCartWorkflow" container="checkout-steps-main"}}
              {{> checkoutSteps}}
            {{/each}}
          </div></div>
            <div class="checkout-steps">
          <div class="checkout-steps-main">
            {{#each reactionTemplate workflow="coreCartWorkflow" container="checkout-steps-side"}}
              {{> checkoutSteps}}
            {{/each}}
          </div>


        </div>
      </div>
    </div>
  {{else}}
    {{> emptyCheckoutCart}}
  {{/if}}
</template>



<template name="checkoutSteps">
    {{#if isPending }}

    <div class="checkout-step">
        {{> Template.dynamic template=template}}
      </div>

    {{else}}

      {{#if isCompleted}}
        <div class="checkout-step-completed">
          {{> Template.dynamic template=template}}
        </div>
      {{else}}
        <div class="checkout-step-pending">
          {{> checkoutStepPending}}
        </div>
      {{/if}}

    {{/if}}
</template>


<template name="checkoutStepPending">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{> checkoutStepBadge}}
    </div>
  </div>
</template>

<template name="emptyCheckoutCart">
  <div class="container-fluid-sm">
    <div class="empty-view-message">
      <i class="fa fa-barcode"></i>
      <p data-i18n="cartCheckout.surprise">Woah!</p>
      <p data-i18n="cartCheckout.emptyCheckoutCart">Your cart is empty.</p>
    </div>
  </div>
</template>


<template name="checkoutStepBadge">
  <i class="checkout-step-badge {{checkoutStepBadgeClass}}">{{position}}</i>
</template>
