// Open main menu on hover
#main-menu {
  li.dropdown:hover ul {
    display: block;
    border:none;
    background-color:#fff;
    font-family:'Montserrat', arial, sans-sans-serif;
    border-radius: 2px;
  }
  li.dropdown {
    padding:5px 20px 5px 20px;
    font-family:'Montserrat', arial, sans-sans-serif;
  }
}

// Pull Cart link to right
.cart-container {
  position: absolute;
  right: 10px;
}

// Hide user icon in header
.main-dropdown-userImage {
  display: none;
}
//header starts with no margin at the bottom
header.rui.item.full.start.axis.vertical.pdp.header{
  margin-bottom:0px;}
