.swatchbook-drawer-container {
  background: white;
  .swatchbook-drawer {
    overflow: hidden;
  }
  .swatchbook-add-button {
    float: left;
  }

  .no-colors-message {
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 38px;
    height:250px;
  }
}
.s-alert-box-inner{border-radius:2px; background-color:#fff; border:1px solid #006cb6; color: #006cb6; font-family:'cormorant', serif; font-size:15px;}
li.help-swatchbook-book{border-radius:2px; background-color:#fff;float:left;width:30%;margin:.5%;margin-top:50px;margin-bottom:50px;border:none; color: #006cb6;padding-bottom:20px; font-family:'Montserrat', sans-serif;}
li.help-swatchbook-book:hover{position:relative; bottom:1px;}
a.help-swatchbook{padding:20px; font-size:14px;}
li.help-swatchbook-book img{padding-bottom:20px;-webkit-border-radius: 2px 2px;
border-radius: 2px 2px;}
